

<div class="row nav-buttons" style="width:600px; margin:0 auto;">
	<div class="small-4 column">
	<%= link_to 'Regulament', '/regulament.pdf', class: 'button radius', target: "_blank" %>
	</div>
	<div class="small-4 text-center column">
	<%= link_to 'Participanți', cards_path, class: 'button radius' %>
	</div>


	<div class="small-4 text-right column">
	<% if user_signed_in? && current_user.cards[0] %>
	<%= link_to 'Poza ta', card_path(current_user.cards.last), class: 'button radius' %>
	<%else%>
	<%= link_to 'Participă', new_card_path, class: 'button radius' %>
	<%end%>

	</div>
</div>
